@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Fira Code", monospace;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 5rem;
  padding: 2rem 0rem;
}

h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #f8f1f1;
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
}

nav {
  background-color: rgb(26, 26, 26);
  color: #ffffff;
  padding: 2rem 0;
}

.clear {
  clear: both;
}

nav h1 {
  float: left;
  margin-left: 5rem;
}

nav ul {
  list-style: none;
  float: right;
}

nav ul li {
  float: left;
  margin: 0 5rem;
}

nav ul li a:hover {
  color: rgb(119, 119, 119);
}

.hero-section {
  background-image: url(./tumblr_pj6zm9x6Dp1sd9evfo1_1280.jpeg);
  height: 70rem;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 20rem;
}

.hero-section button {
  font-family: "Fira Code", monospace;
  padding: 1rem 4rem;
  margin-top: 4rem;
  font-size: 2rem;
  border: none;
  background-color: rgb(0, 0, 0);
  border-radius: 12px;
  color: white;
}

.hero-section button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}
